[submodule "oomox"]
	path = auto/oomox
	url = https://github.com/actionless/oomox
[submodule "urnn"]
	path = auto/urnn
	url = https://github.com/nixers-projects/urnn
[submodule "acyl"]
	path = auto/acyl
	url = https://github.com/neeasade/acyl
