[submodule "oomox"]
	path = oomox
	url = https://github.com/actionless/oomox
[submodule "urnn"]
	path = urnn
	url = https://github.com/nixers-projects/urnn
[submodule "acyl"]
	path = acyl
	url = https://github.com/neeasade/acyl
